extends layout

block content
  h1 CS184 Final project
  h2 API Guide (v1)
  h3 Responses
  p There are 4 possible responses from an API endpoint:
  ul
    li Data where userError is false or undefined.  This indicates a successful query, and varies from endpoint to endpoint
    li Data where userError is true.  This occurs when the user of the app does something wrong (like trying to add a picture of a blank wall as a member).  These responses will also contain a message attribute, which is a user-friendly description of the error.  You can show this message to the end-user.
    li A 500 response.  This happens if something is wrong with the server setup (like if the AWS credentials are corrupted).  If you get one of these, try again.  If you get 2 in a row, something is seriously wrong so check the server logs.
    li A 400 response.  This means the input was malformed.  Probably a problem client code; check the API spec again
  h4 Endpoints
  p All endpoints are POST requests unless otherwise specified.  All inputs should be sent as raw JSON data unless otherwise specified
  p When I describe the 'response' part of an endpoint, I'm describing a SUCCESSFUL response. For errors, refer to the response types above
  ul
    li
      h4 /api/v1/checkFace
      p Request should contain
      ul
        li a file called 'face', sent as form-data
      p Success Response
      ul
        li right now, just the response from Rekognition.  I'll update this soon
    li
      h4 /api/v1/addMember
      p Request should contain
      ul
        li a file called 'face', sent as form-data
        li email
        li first name
        li last name
        li org id
      p Success Response
      ul
        li an id for the member's face